/* app css stylesheet */

html {
    background-color: #033E6B;
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 0.9em;
}

#sudoku {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

#sudoku > #filters {
    text-align: center;
    margin: 30px 0;
}
#sudoku button {
    margin: 0;
    padding: 10px 17px;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px inset rgba(255, 255, 255, 0.7);
}
.toggle:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px inset rgba(0, 0, 0, 0.2);
}

#sudoku > table {
    border-collapse: collapse;
    margin: auto;
}

#sudoku .cell {
    width: 2em;
    padding: 3px;
    margin: 8px 6px;
    border: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(50, 50, 50, 1);
}
#sudoku .cell[contentEditable=true] {
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}
#sudoku .cell[contentEditable=true]:hover, #sudoku .cell[contentEditable=true]:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.highlight {
    background-color: rgba(255, 200, 50, 0.6) !important;
}
#sudoku .highlight[contentEditable=true] {
    background-color: rgba(255, 127, 0, 0.45) !important;
}
.Mhighlight {
    background-color: rgba(255, 127, 0, 0.3) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#sudoku td:nth-child(3), #sudoku td:nth-child(6){
    border-right: 3px solid #76B3C2;
}

#sudoku tr:nth-child(3), #sudoku tr:nth-child(6){
    border-bottom: 3px solid #76B3C2;
}